.form-container {
  max-width: 600px;
  margin: auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

form .MuiFormControl-root {
  width: 100%;
}

form .MuiFormControl-root .MuiFormGroup-root {
  display: flex;
  flex-direction: row;
  justify-content: start;
}

form .MuiTextField-root {
  flex: 1;
}

.name-inputs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}

.sex-radials {
  color:  black;
}

.date-inputs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 20px;
}

.cancel-button {
  align-self: flex-start;
}

.submit-button {
  align-self: flex-end;
}
