.person {
   width: 100px;
   height: 100px;
   border-radius: 50%;
   background-color: lightblue;
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
   overflow: hidden;
   /*box-sizing: border-box;*/
   z-index: 10;
}

.person-details {
   h2 {
      text-align: center;
   }

   .subtext {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .left {
         text-align: left;
      }

      .right {
         text-align: right;
      }
   }
}
