.form-container {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  box-sizing: border-box;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: start; /* Align form fields to the start (left) */
}

form .MuiFormControl-root {
  width: 100%;
}

form .MuiFormControl-root .MuiFormGroup-root {
  display: flex;
  flex-direction: row;
  justify-content: start;
}

form .MuiTextField-root {
  margin-bottom: 15px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 20px; /* Add space between buttons */
}

.cancel-button {
  align-self: flex-start;
}

.submit-button {
  align-self: flex-end;
}
