.partnership-chain {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    max-width: fit-content;
}

.person-nodes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.partnership-paths {
    position: relative;
    width: 100%;
    box-sizing: border-box;
}

.children-chain {
    align-items: center;
    display: flex;
    flex-direction: row;
}

